html, body, head {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%; /* 100% of viewport height */
    width: 100%; /* 100% of viewport width */
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

*::selection {
    background: #FDEC00;
}

/* <<< default.html >>> */

label#menu-btn input[type="checkbox"] { /* Removes default checkbox apperance */
    appearance: none;
}

#menu-btn-label {
    position: absolute;
    display: inline-block;
    left: 0px;
    background-color: #403F45;
    z-index: 30;
    width: 80px;
    height: 64px;
    transition: 0.4s;
    cursor: pointer;
}

#menu-btn-label.open {
    left: 250px;
}

#menu-btn-label:hover, #menu-btn-label:active {
    background: #FDEC00;
}

#menu-btn-label:hover svg, #menu-btn-label:active svg { 
    fill: #403F45;
}


#menu-btn-label svg {
    position: relative;
    display: block;
    height: 52px;
    width: 52px;
    top: 7px;
    right: 1px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background: #F2F2F2;
    transition: 0.4s;
}

#profile-picture-wrapper {
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#profile-picture-wrapper img {
    display: block;
    width: 250px;
    height: 250px;
    filter:grayscale();
}

#name {
    position: relative;
    bottom: 19px;
    padding: 10px 30px;
    font-weight: normal;
    color: #403F45;
    background: #FFF;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}

#bio {
    position: relative;
    bottom: 19px;
    font-size: 16px;
    padding: 0px 30px;
    color: #403F45;
}

.link {
    padding: 1px 6px 1px 5px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.link:hover, .menu-link:active {
    background: #FDEC00;
    border-radius: 2px;
}

#menu .menu-choice {
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    color: #403F45;
    transition: 0.4s;
}

#menu .menu-choice:hover, #menu .menu-choice:active {
    background: #FDEC00;
    color: #403F45;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    border-color: #403F45;
}

.left-icon {
    display: inline-block;
    position: relative;
    top:2px;
    float: left;
}

.right-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 15px;
    float: right;
}

/* Text alignment required multiple id's due to non-standard Font Awesome icon sizes */

#menu-text-1 {
    display: inline-block;
    position: relative;
    left: 20px;
}

#menu-text-2 {
    display: inline-block;
    position: relative;
    left: 22px;
}

#menu-text-3 {
    display: inline-block;
    position: relative;
    left: 22px;
}

#menu-text-4 {
    display: inline-block;
    position: relative;
    left: 26px;
}

#content-screen {
    display: inline-block;
    position: absolute;
    z-index: 20;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 0.4s;
    opacity: 0;
    pointer-events:none;
    cursor: pointer;
}

#content-screen.active {
    opacity: 0.5;
    background: repeating-linear-gradient(
        45deg,
        rgb(112, 112, 112),
        rgb(112, 112, 112) 6px,
        rgb(83, 83, 83) 6px,
        rgb(83, 83, 83) 12px
    );
    pointer-events: auto;
    left: 250px;
}

#content {
    display: inline-block;
    position: absolute;
    z-index: 10;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #F2F2F2;
    transition: 0.4s;
    overflow-x: hidden;
    box-shadow: -2px 0px 8px -2px rgba(0,0,0,0.2);
}

#content.is-contracted {
    left: 250px;
}

#content-wrapper {
    display: inline-block;
    position: relative;
    box-sizing: border-box; /* Fixes consitency of percentage width by applying inset borders */
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    left: 115px;
    padding: 0px 0px 100px 0px; /* The 100px adds some space to the ending of the pages */
}

.page-title {
    display: block;
    position: relative;
    box-sizing: border-box; /* Fixes consitency of percentage width */
    width: 90%;
    padding: 17px 17px 17px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #403F45;
    text-decoration: none;
    font-size: 24px;
    color: #403F45;
}

/* <<< index.html >>> */

.section-title {
    display: block;
    position: relative;
    top: 20px;
    font-size: 24px;
    font-weight: normal;
    color: #403F45;
}

#featured-topic-container { /* Grid container */
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; /* Fixes consitency of percentage width */
    top: 20px;
    width: 90%;
    padding: 20px 0px;
    margin-bottom: 20px;
}

/* Flickity */

.gallery {
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}

.gallery:hover, .gallery:active {
    border-color: #403F45;
    box-shadow: none;
}
  
.gallery-cell {
    width: 100%;
    height: 220px;
    counter-increment: gallery-cell;
    background-color: #FFF;
}
  
/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: #403F45;
}

.gallery-cell.second {
      background: #FDEC00;
}

/* hide buttons */
.flickity-prev-next-button {
    display: none;
}

.flickity-prev-next-button:disabled {
    display: none;
}
  
/* position dots in gallery */
.flickity-page-dots {
    bottom: 10px;
}

/* black circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid #403F45;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: #403F45;
}

/* Contact Me section */

#badge-container { /* Grid container */
    position: relative;
    display: grid;
    grid-template-columns: 30% 15% 15% 15%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    box-sizing: border-box; /* Fixes consitency of percentage width */
    width: 40%;
    top: 30px;
    overflow: hidden;
}

#email-btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #403F45;
    text-align: center;
    line-height: 64px;  
    background: #FFF;
    transition: 0.4s;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}

#email-btn:hover, #email-btn:active {
    background: #403F45;
    color: #FFF;
    box-shadow: none;
}

.badge-wrapper {
    display: inline-block;
    position: relative;
    background: #FFF;
    width: 100%;
    transition: 0.4s;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}



.badge-wrapper svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.badge-wrapper.fb:hover, .badge-wrapper.fb:active {
    background: #3B5998;
    box-shadow: none;
}

.badge-wrapper.git:hover, .badge-wrapper.git:active {
    background: #6e5494;
    box-shadow: none;
}

.badge-wrapper.in:hover, .badge-wrapper.in:active {
    background: #4875B4;
    box-shadow: none;
}

#badge-github:hover, #badge-github:active {
    fill: #FFF;
    transition: 0.4s;
}

#badge-linkedin:hover, #badge-linkedin:active {
    fill: #FFF;
    transition: 0.4s;
}

#badge-facebook:hover, #badge-facebook:active {
    fill: #FFF;
    transition: 0.4s;
}

/* <<< blog.html >>> */

#post-list {
    display: block;
    position: relative;
    top: 20px;
    padding: 0;
    list-style-type: none;
}

.post {
    margin: 20px 0px;
    padding: 20px 0px 20px 0px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: lightgrey;
    width: 90%;
}

.tags-tab {
    display: inline-block;
    margin: 0px 0px 0px 5px;
}

.post-title {
    font-size: 20px;
}

.post-date {
    font-size: 14px;
    padding: 0px 0px 0px 5px;
}

.post-description {
    padding: 0px 0px 0px 5px;
}

.post-tags {
    display: inline-block;
    background: #403F45;
    color: #FFF;
    padding: 3px 6px 3px 5px;
    border-radius: 2px;
    margin-left: 5px;
}

.post-tags:hover, .post-tags:active {
    background: #FDEC00;
    color: #403F45;
    cursor: pointer;
}

/* <<< projects.html >>> */

.projects-under-construction-sign {
    display: inline-block;
    position: relative;
    top: 20px;
    font-size: 16px;
    color: #403F45;
    padding: 0px 0px 0px 5px;
    width: 90%;
}

/* <<< cv.html >>> */

#resume-box {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 90%;
    height: 600px;
}

/* <<< blog_post.html >>> */

#post-wrapper {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 90%;
}

/* Responsive adjustments */

/* Desktop Browsers ----------- */
@media (max-width: 1250px) {

    /* <<< default.html >>> */
    .page-title {
        width: 88%;
    }

    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 32% 32% 32%;
        width: 88%;
    }

    /* <<< blog.html >>> */
    .post {
        width: 88%;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 88%;
    }

    /* <<< cv.html >>> */

    #resume-box {
        width: 88%;
    }
}

@media (max-width: 1035px) {

    /* <<< default.html >>> */
    .page-title {
        width: 86%;
    }

    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 32% 32% 32%;
        width: 86%;
    }

    #badge-container { /* Grid container */
        grid-template-columns: 30% 15% 15% 15%;
        width: 50%;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 86%;
    }

    /* <<< blog.html >>> */
    .post {
        width: 86%;
    }

    /* <<< cv.html >>> */

    #resume-box {
        width: 86%;
    }
}

@media (max-width: 830px) { /* important specification forces correct behavior at this breakpoint with no conflict from iPads */

    /* <<< default.html >>> */
    .page-title {
        width: 80% !important;
    }

    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 48.5% 48.5% !important;
        width: 80% !important;
    }

    #badge-container { /* Grid container */
        width: 70%;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 80% !important;
    }
    

    /* <<< blog.html >>> */
    .post {
        width: 80% !important;
    }

    /* <<< cv.html >>> */

    #resume-box {
        width: 80%;
    }
}

@media (max-width: 600px) { 

    /* <<< index.html >>> */
    #badge-container { /* Grid container */
        grid-template-columns: 30% 30%;
    }

    #email-btn {
        grid-column: 1 / span 2;
    }
}

/* iPad (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    
    /* <<< default.html >>> */
    .page-title {
        width: 85%;
    }

    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 32% 32% 32%;
        width: 85%;
    }

    /* <<< blog.html >>> */
    .post {
        width: 85%;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 85%;
    }


    /* <<< cv.html >>> */

    #resume-box {
        width: 85%;
    }
}
    
/* iPad (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        
    /* <<< default.html >>> */
    .page-title {
        width: 80%;
    }
    
    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 48.5% 48.5%;
        width: 80%;
    }

    /* <<< blog.html >>> */
    .post {
        width: 80%;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 80%;
    }

    /* <<< cv.html >>> */

    #resume-box {
        width: 80%;
        height: 900px;
    }
}

/* iPad Pro (landscape) ----------- */
@media only screen and (min-device-width : 1336px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape) {
    
    /* <<< default.html >>> */
    .page-title {
        width: 88%;
    }

    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 24% 24% 24% 24%;
        width: 88%;
    }

    /* <<< blog.html >>> */
    .post {
            width: 88%;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 88%;
    }


    /* <<< cv.html >>> */

    #resume-box {
        width: 88%;
        height: 900px;
    }    
}

/* iPad Pro (portrait) ----------- */
@media only screen and (min-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
        
    /* <<< default.html >>> */
    .page-title {
        width: 85%;
    }

    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 32% 32% 32%;
        width: 85%;
    }

    /* <<< blog.html >>> */
    .post {
        width: 85%;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 85%;
    }

    /* <<< cv.html >>> */

    #resume-box {
        width: 85%;
        height: 1150px;
    }
}
    
/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) {
        
    /* <<< cv.html >>> */

        #resume-box {
            height: 300px;
        } 
}
    
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) {

    /* <<< default.html >>> */
    .page-title {
        width: 68% !important;
    }
    
    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 99% !important;
        width: 68% !important;
    }

    /* <<< blog.html >>> */
    .post {
        width: 68% !important;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 68% !important;
    }


    /* <<< cv.html >>> */

    #resume-box {
        width: 68%;
        height: 500px !important;
    } 
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    
    #resume-box {
        height: 250px;
    } 
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* <<< default.html >>> */
    .page-title {
        width: 65% !important;
    }
    
    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 99% !important;
        width: 65% !important;
    }

    /* <<< blog.html >>> */
    .post {
        width: 65% !important;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 65% !important;
    }


    /* <<< cv.html >>> */

    #resume-box {
        width: 65% !important;
        height: 400px !important;
    }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    #resume-box {
        width: 80%;
        height: 250px;
    }
}
    
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* <<< default.html >>> */
    .page-title {
        width: 62% !important;
    }
        
    /* <<< index.html >>> */
    #featured-topic-container { /* Grid container */
        grid-template-columns: 99% !important;
        width: 62% !important;
    }

    .section-title {
        width: 62%;
    }

    /* <<< blog.html >>> */
    .post {
        width: 62% !important;
    }

    .post-tags {
        margin: 5px;
    }

    /* <<< projects.html >>> */

    .projects-under-construction-sign {
        width: 62% !important;
    }

    /* <<< cv.html >>> */

    #resume-box {
        width: 62% !important;
        height: 400px !important;
    }
}
    
/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}
    
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}
    