html, body, head {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#menu-btn {
    position: absolute;
    display: inline-block;
    left: 0px;
    background-color: #181818;
    z-index: 30;
    width: 80px;
    height: 64px;
    transition: 0.4s;
    cursor: pointer;
}

#menu-btn.open {
    left: 250px;
}

#menu-btn:hover {
    background: #FFF;
}

#menu-btn:hover img { 
    content: url(/assets/VP_monogram_menu_black.png); 
}

#menu-btn img {
    position: relative;
    display: block;
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background: #FFC000;
    transition: 0.4s;
}

#menu::selection {
    background: #000;
}

#profile-picture-wrapper {
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#profile-picture-wrapper img {
    display: block;
    width: 250px;
    height: 250px;
    filter:grayscale();
}

#name {
    padding: 0px 30px;
    font-weight: normal;
}

#bio {
    font-size: 16px;
    padding: 0px 30px;
}

.menu-link {
    padding: 1px 6px 1px 5px;
    text-decoration: none;
    color: #000;
}

.menu-link:hover {
    background: #000;
    color: #FFC000;
    border-radius: 2px;
}

#menu .menu-btn {
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}

#menu .menu-btn:hover {
    background: #FFF;
    color: #000;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    border-color: #000;
}

.left-icon {
    display: inline-block;
    position: relative;
    top:1px;
    float: left;
}

.right-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 15px;
    float: right;
}

/* Text alignment required multiple id's due to non-standard Font Awesome icon sizes */

#menu-text-1 {
    display: inline-block;
    position: relative;
    left: 20px;
}

#menu-text-2 {
    display: inline-block;
    position: relative;
    left: 22px;
}

#menu-text-3 {
    display: inline-block;
    position: relative;
    left: 22px;
}

#menu-text-4 {
    display: inline-block;
    position: relative;
    left: 26px;
}

#content-screen {
    display: inline-block;
    position: absolute;
    z-index: 20;
    left: 0px;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: 0.4s;
    pointer-events:none;
}

#content-screen.active {
    background: rgba(0,0,0,0.4);
    pointer-events: auto;
    left: 250px;
}

#content {
    display: inline-block;
    position: absolute;
    z-index: 10;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #F2F2F2;
    transition: 0.4s;
    overflow-x: hidden;
    box-shadow: -2px 0px 8px -2px rgba(0,0,0,0.2);
}

#content.is-contracted {
    left: 250px;
}

.page-title {
    display: inline-block;
    position: relative;
    margin: 10px;
    left: 90px;
}

#content-wrapper {
    display: inline-block;
    position: relative;
    left: 100px;
}
