html, body, head {
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 100%; /* 100% of viewport height */
    width: 100%; /* 100% of viewport width */
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#menu-btn {
    position: absolute;
    display: inline-block;
    left: 0px;
    background-color: #000;
    z-index: 30;
    width: 80px;
    height: 64px;
    transition: 0.4s;
    cursor: pointer;
}

#menu-btn.open {
    left: 250px;
}

.hover-active #menu-btn:hover{
    background: #FFC000;
}

.hover-active #menu-btn:hover svg .svg-path { 
    fill: #000;
}

.active-active #menu-btn:active{
    background: #FFC000;
}

.active-active #menu-btn:active svg .svg-path { 
    fill: #000;
}

#menu-btn svg {
    position: relative;
    display: block;
    height: 52px;
    width: 52px;
    top: 7px;
    right: 1px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    background: #F2F2F2;
    transition: 0.4s;
}

#profile-picture-wrapper {
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#profile-picture-wrapper img {
    display: block;
    width: 250px;
    height: 250px;
    filter:grayscale();
}

#name {
    position: relative;
    bottom: 19px;
    padding: 10px 30px;
    font-weight: normal;
    color: #000;
    background: #FFF;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}

#bio {
    position: relative;
    bottom: 19px;
    font-size: 16px;
    padding: 0px 30px;
    color: #000;
}

*::selection {
    background: #FFC000;
}

.menu-link {
    padding: 1px 6px 1px 5px;
    text-decoration: none;
    color: #000;
}

.menu-link:hover {
    background: #FFC000;
    border-radius: 2px;
}

#menu .menu-choice {
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}

.hover-active #menu .menu-choice:hover {
    background: #FFC000;
    color: #000;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    border-color: #000;
}

.left-icon {
    display: inline-block;
    position: relative;
    top:2px;
    float: left;
}

.right-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 15px;
    float: right;
}

/* Text alignment required multiple id's due to non-standard Font Awesome icon sizes */

#menu-text-1 {
    display: inline-block;
    position: relative;
    left: 20px;
}

#menu-text-2 {
    display: inline-block;
    position: relative;
    left: 22px;
}

#menu-text-3 {
    display: inline-block;
    position: relative;
    left: 22px;
}

#menu-text-4 {
    display: inline-block;
    position: relative;
    left: 26px;
}

#content-screen {
    display: inline-block;
    position: absolute;
    z-index: 20;
    left: 0px;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: 0.4s;
    pointer-events:none;
}

#content-screen.active {
    background: rgba(0,0,0,0.4);
    pointer-events: auto;
    left: 250px;
}

#content {
    display: inline-block;
    position: absolute;
    z-index: 10;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #F2F2F2;
    transition: 0.4s;
    overflow-x: hidden;
    box-shadow: -2px 0px 8px -2px rgba(0,0,0,0.2);
}

#content.is-contracted {
    left: 250px;
}

#content-wrapper {
    display: inline-block;
    position: relative;
    box-sizing: border-box; /* Fixes consitency of percentage width by applying inset borders */
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    left: 115px;
    
}

.page-title {
    display: block;
    position: relative;
    box-sizing: border-box; /* Fixes consitency of percentage width */
    min-width: 90%;
    max-width: 90%;
    padding: 17px 17px 17px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #000;
    text-decoration: none;
    font-size: 24px;
    color: #000;
}

.hover-active .page-title:hover {
    color: #FFC000;
}

/* Home page */

.section-title {
    display: block;
    position: relative;
    top: 50px;
    font-size: 24px;
}

#featured-topic-container { /* Grid container */
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    position: relative;
    overflow: hidden;
    box-sizing: border-box; /* Fixes consitency of percentage width */
    top: 50px;
    width: 90%;
    padding: 20px 0px;
}

/* Overwritting some of imagehover.css styles */

[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}

.hover-active [class^='imghvr-']:hover,
.hover-active [class*=' imghvr-']:hover {
  box-shadow: none;
}


[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
    background-color: #000;
    color: #FFF;
    transition: 0.6s;
}

[class^='imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h6 {
    color: #FCC000;
}

/* Contact Me section */

#email-btn {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 64px;
    top: 45px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    text-align: center;
    line-height: 64px;  
    background: #FFF;
    transition: 0.4s;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}

.hover-active #email-btn:hover {
    background: #000;
    color: #FFF;
    box-shadow: none;
}

.badge-wrapper {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 70px;
    background: #FFF;
    transition: 0.4s;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    display: inline-block;
    position: relative;
    margin: 5px;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.2);
}

.hover-active .badge-wrapper.fb:hover {
    background: #3B5998;
    box-shadow: none;
}

.hover-active .badge-wrapper.git:hover {
    background: #6e5494;
    box-shadow: none;
}
.hover-active .badge-wrapper.in:hover {
    background: #4875B4;
    box-shadow: none;
}

.hover-active #badge-github:hover {
    fill: #FFF;
    transition: 0.4s;
}

.hover-active #badge-linkedin:hover {
    fill: #FFF;
    transition: 0.4s;
}

.hover-active #badge-facebook:hover {
    fill: #FFF;
    transition: 0.4s;
}

/* Responsive adjustments */

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}
    
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}
    
/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}
    
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}
    
/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}
    
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}
    