/* custom scss styles */

/*-- scss:defaults --*/
// Base document colors
$body-bg: #191516;
$body-color: #EBE8E7;
$code-color: #dfdca1;
$link-color: #F9C22E;
$activated-color-1: #00B295;
$activated-color-2: #F9C22E;

// Title banner and navbar
.navbar-title {
    color: #EBE8E7 !important;
}

.navbar-title:hover {
    color: #F9C22E !important;
}

.aa-DetachedSearchButtonIcon svg:hover {
    color: #F9C22E !important;
}

// .navbar.navbar-expand-lg.navbar-dark {
//     background-color: #1d132c; 
//     // border-bottom: 1px solid #00B295;
// }

.navbar.navbar-expand-lg {
    background-color: #022F40 !important; 
} 

.navbar-container.container-fluid {
    background-color: #022F40 !important; 
}

.headroom .quarto-banner {
    background-color: #022F40 !important; 
}

a.nav-link .menu-text:hover {
    color: #F9C22E;
}

#quarto-header {
    background-color: #022F40 !important;
}

nav.quarto-secondary-nav {
    background-color: #022F40 !important;
    border-color: #EBE8E7 !important;
}

.nav.quarto-page-breadcrumbs {
    color: #EBE8E7;
}

.quarto-secondary-nav nav.quarto-page-breadcrumbs {
    color: #EBE8E7 !important;
}

.quarto-secondary-nav nav.quarto-page-breadcrumbs ol.breadcrumb li.breadcrumb-item a {
    color: #EBE8E7;
}

button.quarto-btn-toggle.btn {
    color: #EBE8E7;
}

h1.title {
    color: #EBE8E7;
}

.quarto-title-banner .quarto-title h1.title {
    color: #EBE8E7 !important;
}

.quarto-title-banner .quarto-title .quarto-title-block h1.title {
    color: #edf2d0 !important;
}

.btn.code-tools-button {
    border: 1px solid #EBE8E7 !important;
    padding: 5px !important;
    border-radius: 0.25em !important;
    opacity: 100%;
}

.btn.code-tools-button:hover {
    background-color: #064a4f;
}

.navbar-title {
    color: #EBE8E7;
}

.quarto-category {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

div.quarto-post .listing-categories .listing-category {
    color: #807182 !important;
    border-color: #807182 !important;
}

div.quarto-post .listing-categories .listing-category:hover {
    background-color: #060505 !important;
}

.quarto-category:hover {
    background-color: #064a4f;
}

// Title banner
.quarto-title-banner.page-columns.page-full {
    background-color: #22878e;
}

.quarto-title-banner .quarto-title h1.title, .quarto-title-banner .quarto-title .title.h1 {
    color: #edf2d0 !important;
}

// Page Body
body {
    background-color: #191516 !important;
}

#quarto-content {
    background-color: #191516;
}

#title-block-header {
    background-color: #191516;
}

blockquote.blockquote {
    border-color: #EBE8E7;
}

blockquote.blockquote p {
    color: #EBE8E7;
}

h2.anchored, .h2 {
    border-color: #EBE8E7;
}

h3.anchored, .h3 {
    border-color: #EBE8E7;
}

h4.anchored, .h4 {
    border-color: #EBE8E7;
}

h5.anchored, .h5 {
    border-color: #EBE8E7;
}

// Code blocks
code {
    background-color: #080606 !important;
}

.sourceCode {
    border-radius: 0.25em !important;
    background-color: #060505 !important;
    border-color: #0b080c !important;
}

.sourceCode.cell-code {
    border-radius: 0.25em !important;
    background-color: #060505 !important;
}

.sourceCode.numberSource {
    background-color: #060505 !important;
}

.cell-output.cell-output-stdout code {
    color: #EBE8E7 !important;
}

pre code {
    color: #EBE8E7 !important;
}

// Sidebar

#quarto-sidebar {
    background-color: #191516;
}

.sidebar-navigation a {
    color: #EBE8E7 !important;
}

.sidebar-navigation a:hover {
    color: #F9C22E !important;
}

.sidebar nav[role=doc-toc]>ul a {
    border-color: #EBE8E7 !important;
}

.sidebar nav[role=doc-toc]>ul a.active {
    border-color: #F9C22E !important;
}

// Bottom Nav

a.pagination-link {
    color: #02060f !important;
}

.nav-page a {
    color: #EBE8E7 !important;
}

.nav-page a:hover {
    color: #F9C22E !important;
}

// Callouts
.callout.callout-style-simple.callout-tip.no-icon.callout-titled {
    border-color: #0b080c !important;
    border-left-color: #FCA311 !important;
}

.callout.callout-style-simple.callout-note.no-icon.callout-titled {
    border-color: #0b080c !important;
    border-left-color: #00B295 !important;
}

.callout.callout-style-simple.callout-important.no-icon.callout-titled {
    border-color: #0b080c !important;
    border-left-color: #F46036 !important;
}

.callout-title-container {
    opacity: 100% !important;
}

// Search Results
.search-match {
    background-color: #F9C22E !important;
}

.aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item, #quarto-search-results li.aa-Item[aria-selected=true] .search-item {
    background-color: #2f273b !important;
}

.aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item.search-result-more, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-section, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-title-container, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item.search-result-more, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-section, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-title-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text-container {
    background-color: #2f273b !important;
}

// Main Page Post List
.no-anchor.listing-title:hover {
    color: #FCA311 !important;
}

.quarto-post {
    border-bottom-color: #02060f !important;
}

.quarto-grid-item {
    background-color: #272122 !important;
}

.quarto-grid-item:hover {
    border: 1px solid #F9C22E !important;
}

// Main Page Categories
.category:hover {
    color: #F9C22E !important;
}

// About Me Page
.about-link {
    color: #EBE8E7 !important;
    background-color: #191516 !important;
    border-color: #EBE8E7 !important;
}

.about-link:hover {
    color: #F9C22E !important;
    border-color: #F9C22E !important;
}

.about-contents {
    border-left-color: #02060f !important;;
}

// Images
.figure-img {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

// Footer
.footer .nav-footer {
    background-color: #022F40 !important;
    border-top: 0px !important;
    // border-top-color: #00B295 !important;
}

.nav-footer-left {
    color: #EBE8E7;
}

.nav-link .bi {
    color: #EBE8E7;
}

.nav-link .bi:hover {
    color: #F9C22E;
}


////////////////////////////////////////////////////////////
/// MY CUSTOM THEMES
////////////////////////////////////////////////////////////


// Highlightter

#my-text-highlight {
    background-color: rgba(255, 215, 0, 0.4); /* Less bright yellow with some transparency */
    padding: 2px 6px; /* Vertical padding of 3px, horizontal padding of 6px */
    border-radius: 5px; /* Rounded corners */
}

// Custom blockquotes?

// Custom Keyboard Shortcuts

kbd {
    color: #191516 !important;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em 0.4em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(255, 254, 180, 0.6), 0 0 0 2px #dad0b1 inset;
    background-color: #f0e1c6;
}

kbd.inline {
    padding: 0.06em 0.2em;
}

kbd.large {
    padding: 0.5em 2em;
}

// Table styling

.quarto-listing-table.table .list tr {
    background-color: #191516 !important;
}

.quarto-listing-table.table thead {
    background-color: #191516 !important;
}

.input-group.input-group-sm.quarto-listing-sort .input-group-text {
    color: #191516 !important;
}

.input-group.input-group-sm.quarto-listing-filter .input-group-text {
    color: #191516 !important;
}

.caption-top.table thead {
    color: #EBE8E7 !important;
}

.caption-top.table thead tr {
    color: #EBE8E7 !important;
    background-color: #191516 !important;
}

.caption-top.table tbody {
    color: #EBE8E7 !important;
}

.caption-top.table tbody tr {
    color: #EBE8E7 !important;
    background-color: #191516 !important;
}

// Mermaid Graphs

.nodeLabel {
    color: #EF767A !important;
}

// Listing titles should be differently colored than normal links in Dark mode

// .title.listing-title {
//     color: #00B295 !important;
// }