/* custom scss styles */

/*-- scss:defaults --*/
// Base document colors
$body-bg: #191516;
$body-color: #EBE8E7;
$code-color: #ac90c2;
$link-color: #EF767A;

// Title banner and navbar
.navbar-title {
    color: #EF767A !important;
}

.navbar-title:hover {
    color: #00B295 !important;
}

.aa-DetachedSearchButtonIcon svg:hover {
    color: #EF767A !important;
}

.navbar.navbar-expand-lg.navbar-dark {
    background-color: #2f273b; 
    // border-bottom: 1px solid #00B295;
}

a.nav-link .menu-text:hover {
    color: #EF767A;
}

#quarto-header {
    background-color: #02060f !important;
}

nav.quarto-secondary-nav {
    background-color: #02060f !important;
    border-color: #EBE8E7 !important;
}

.nav.quarto-page-breadcrumbs {
    color: #EBE8E7;
}

.quarto-secondary-nav nav.quarto-page-breadcrumbs {
    color: #EBE8E7 !important;
}

.quarto-secondary-nav nav.quarto-page-breadcrumbs ol.breadcrumb li.breadcrumb-item a {
    color: #EBE8E7;
}

button.quarto-btn-toggle.btn {
    color: #EBE8E7;
}

h1.title {
    color: #EBE8E7;
}

.quarto-title-banner .quarto-title h1.title {
    color: #EBE8E7 !important;
}

.quarto-title-banner .quarto-title .quarto-title-block h1.title {
    color: #edf2d0 !important;
}

.btn.code-tools-button {
    border: 1px solid #EBE8E7 !important;
    padding: 5px !important;
    border-radius: 0.25em !important;
    opacity: 100%;
}

.btn.code-tools-button:hover {
    background-color: #064a4f;
}

.navbar-title {
    color: #EBE8E7;
}

.quarto-category {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

div.quarto-post .listing-categories .listing-category {
    color: #807182 !important;
    border-color: #807182 !important;
}

div.quarto-post .listing-categories .listing-category:hover {
    background-color: #060505 !important;
}

.quarto-category:hover {
    background-color: #064a4f;
}

// Title banner
.quarto-title-banner.page-columns.page-full {
    background-color: #22878e;
}

.quarto-title-banner .quarto-title h1.title, .quarto-title-banner .quarto-title .title.h1 {
    color: #edf2d0 !important;
}

// Page Body
body {
    background-color: #191516 !important;
}

#quarto-content {
    background-color: #191516;
}

#title-block-header {
    background-color: #191516;
}

blockquote.blockquote {
    border-color: #EBE8E7;
}

blockquote.blockquote p {
    color: #EBE8E7;
}

h2.anchored, .h2 {
    border-color: #EBE8E7;
}

h3.anchored, .h3 {
    border-color: #EBE8E7;
}

h4.anchored, .h4 {
    border-color: #EBE8E7;
}

h5.anchored, .h5 {
    border-color: #EBE8E7;
}

// Code blocks
code {
    background-color: #080606 !important;
}

.sourceCode {
    border-radius: 0.25em !important;
    background-color: #060505 !important;
    border-color: #0b080c !important;
}

.sourceCode.cell-code {
    border-radius: 0.25em !important;
    background-color: #060505 !important;
}

.sourceCode.numberSource {
    background-color: #060505 !important;
}

// Sidebar

#quarto-sidebar {
    background-color: #191516;
}

.sidebar-navigation a {
    color: #EBE8E7 !important;
}

.sidebar-navigation a:hover {
    color: #EF767A !important;
}

.sidebar nav[role=doc-toc]>ul a {
    border-color: #EBE8E7 !important;
}

.sidebar nav[role=doc-toc]>ul a.active {
    border-color: #EF767A !important;
}

// Bottom Nav

a.pagination-link {
    color: #02060f !important;
}

.nav-page a {
    color: #EBE8E7 !important;
}

.nav-page a:hover {
    color: #EF767A !important;
}

// Callouts
.callout.callout-style-simple.callout-tip.no-icon.callout-titled {
    border-color: #0b080c !important;
    border-left-color: #FCA311 !important;
}

.callout.callout-style-simple.callout-note.no-icon.callout-titled {
    border-color: #0b080c !important;
    border-left-color: #00B295 !important;
}

.callout.callout-style-simple.callout-important.no-icon.callout-titled {
    border-color: #0b080c !important;
    border-left-color: #F46036 !important;
}

.callout-title-container {
    opacity: 100% !important;
}

// Search Results
.search-match {
    background-color: #00B295 !important;
}

.aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item, #quarto-search-results li.aa-Item[aria-selected=true] .search-item {
    background-color: #2f273b !important;
}

.aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item.search-result-more, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-section, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-title-container, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item.search-result-more, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-section, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-title-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text-container {
    background-color: #2f273b !important;
}

// Main Page Post List
.no-anchor.listing-title:hover {
    color: #EF767A !important;
}

.quarto-post {
    border-bottom-color: #02060f !important;
}

.quarto-grid-item {
    background-color: #272122 !important;
}

.quarto-grid-item:hover {
    border: 1px solid #EF767A !important;
}

// Main Page Categories
.category:hover {
    color: #EF767A !important;
}

// About Me Page
.about-link {
    color: #EBE8E7 !important;
    background-color: #191516 !important;
    border-color: #EBE8E7 !important;
}

.about-link:hover {
    color: #EF767A !important;
    border-color: #EF767A !important;
}

.about-contents {
    border-left-color: #02060f !important;;
}

// Images
.figure-img {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

// Footer
.footer .nav-footer {
    background-color: #2f273b !important;
    border-top: 0px !important;
    // border-top-color: #00B295 !important;
}

.nav-footer-left {
    color: #EBE8E7;
}

.nav-link .bi {
    color: #EBE8E7;
}

.nav-link .bi:hover {
    color: #EF767A;
}
