#three-d-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Optional: Adds space between grid items */
    width: 100%; /* Adjust as needed */
    height: 50%; /* Adjust as needed */
}

.three-d-grid-item {
    display: flex;
}